
.imagesContainer,
.meta {
  width: 38%;
}
.meta {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 2rem;
  font-weight: 700;
}
.category {
  font-size: 0.9rem;
  color: #222;
  margin-bottom: 20px;
}

.quantity {
  margin: 20px 0;
}
.quantity span {
  margin: 0 10px;
  font-size: 1.2rem;
}
.quantity button {
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color linear 250ms;
}
.quantity button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.quantity button:disabled:hover {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: not-allowed;
}

.price {
  font-size: 2rem;
  font-weight: 600;
}
.priceCalc {
  font-size: 0.9rem;
  color: #222;
  margin-bottom: 20px;
}

.cartBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.addToCart,
.goToCart {
  cursor: pointer;
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin: 10px auto;
  margin-left: 20px;
  font-size: 1rem;
  transition: all linear 250ms;
}
.addToCart {
  color: white;
  background: #282c34;
}
.goToCart {
  color: white;
  background: #282c34;
}
.addToCart:hover,
.goToCart:hover {
  transform: scale(1.05);
}
.addToCart:hover {
  background-color: #1e283c;
}
.goToCart:hover {
  background-color: #282c34;
}

.displayImage {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid #282c34;
  border-radius: 10px;
  margin-bottom: 10px;
}


.image {
  width: 100px;
  margin: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.activeImage {
  border: 2px solid #282c34;
}

@media (max-width: 900px) {
  .cartBtns {
    flex-direction: column;
  }
  .addToCart,
  .goToCart {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .imagesContainer,
  .meta {
    width: 100%;
    margin-bottom: 20px;
  }
  .displayImage {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 0;
  }
  .images {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .meta {
    padding: 0 5%;
  }
}
